#Site Information
SITE_NAME=

#Database
MONGODB_URI=

#Server
PORT=
NODE_ENV=

#Sessions
SESSION_SECRET=
SESSION_TIMEOUT_IN_HOURS=

#Cookies
COOKIES_MAXAGE_IN_HOURS=

#Password
PASSWORD_HASH_ROUNDS=
MINIMUM_PASSWORD_LENGTH=
PASSWORD_RESET_TIME_LIMIT_IN_HOURS=

#Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

#Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

#Emails
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_SENDER=

#Attachments
UPLOAD_STORAGE=
ATTATCHMENT_MAX_SIZE_IN_MB=

JOB_EXPERATION_TIME_IN_DAYS=

LOCATION_RANGE_IN_KM=